 .container{
    display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 5rem;
    
    }
    body{
        background-color: bisque;
    }
    .card{
      margin: .5rem;
      
      
     
    }
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
    .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
    .App-link {
      color: #61dafb;
    }
    
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    

    .searchbutten{

      outline: none;
      background-color: rgb(171, 196, 241);
      border-color: cornflowerblue;
      border: none;
      height: 2rem;
      border-radius: .2rem;
      cursor: pointer;
      
    } 


    .customOverlay {
      background: rgba(36, 123, 160, 0.7);
    }
    .customModal {
      align-items: center;
      text-align: center;
      padding: 2rem;
      background: white;
      max-width: 500px;
      width: 100%;
      position: fixed;
      top:12rem;
      left:23rem;
    }